
    .titles {
        background: #9EEFE5;font-family:Didot;
    }

    .content {
         background: #C0E0DE;font-family:Didot;}

    .para {font-family:Didot;}     

    .lists {
        background: #C0E0DE;font-family:Didot;
    }

    .rest {
        height: 30px;
    padding:50px; margin:0;}

    .peace{width:500px;
        height: 100px}

    .menu{ height:30px; display:inline-block; font-family:Didot; padding-left: 3em; padding-right: 3em}

    h1{text-align: center}

    h2{clear:both; text-align: center}

    #damnimg {image-orientation:from-image;}

    .clear {clear: both; margin: 2em auto}

    a:link, a:hover {text-decoration: none; font-weight:bold; color:black;}

    a:hover {font-size:1.4em}

    a:visited {text-decoration:none; color:black;}

    nav{text-align: center; width:100%; background-color: #C0E0DE; height: 4em;}

    .centerbox {margin:auto;}

    .halfbox{display:inline-block; padding: 1em 2em; vertical-align: text-top;}
