
    .titles {
        background: #9EEFE5;font-family:Didot;
    }

    .content {
         background: #C0E0DE;font-family:Didot;
     }

    .lists {
        background: #C0E0DE;font-family:Didot;
    }

    .rest {
        width:1000px;
        height: 30px;
    padding:50px}

    .peace{width:500px;
        height: 100px}

    .menu{ height:30px;float:left;font-family:Didot; padding-left: 3em; padding-right: 3em}

    h2{clear:both;}

    #damnimg {image-orientation:from-image;}

    .clear {clear: both}

    a:link, a:hover {text-decoration: none; font-weight:bold; color:black;}

    a:hover {font-size:1.4em}

    a:visited {text-decoration:none; color:black;}
